@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = "_Layout_Castum";
}

@if (TempData["Success"] != null)

{
    <div class="alert alert-primary" role="alert">
        <samp>
            @TempData["Success"].ToString()

        </samp>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        <samp>
            @TempData["Error"].ToString()
        </samp>
    </div>
}


<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
</div>
