@page
@model LogoutModel
@{
}
<div class="container px-5 my-5">
    <div class="d-grid">
        <a asp-page-handler="LogOut" class="btn btn-dark btn-lg " id="submitButton" type="submit">خروج</a>
    </div>
</div>